#sec-cont-2{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Lato Light";
}
#tab-sched-1{
    position: absolute;
    top: 15%;
    left:5%;
    width: 90%;
    height: 80%;
    background-color: #f7f7f7;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

test



#tab-sched-1 td, th{
    /*border-bottom: solid black 1px;*/
    /*border-right: solid black 1px;*/
    text-align: center;
    margin:1px;
}
#tab-sched-1 th{
    background-color: #ececec;
}

#tab-sched-1 td:hover{
    cursor: pointer;
    background-color: #d1d1d1;
}

#tab-sched-1 span{
    background-color: white;
    padding: 10px;
}
#tab-sched-1 tr:nth-child(even) {
    background: #f3f3f3
}
#tab-sched-1 tr:nth-child(even) td:nth-child(1) {
    background: #ececec;
}
#tab-sched-1 tr:nth-child(odd) {
    background: #FFF
}
#tab-sched-1 tr:nth-child(odd) td:nth-child(1) {
    background: #f7f7f7;
}
#header-sched{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline;
}

#header-sched h1{
    margin-left: 20px;
}

.week-select{
    position: absolute;
    left:20%;
    top:25px;
}
.view-select{
    position: absolute;
    left:35%;
    top:25px;
}

#tab-cont-div{
    position: absolute;
    top: 15%;
    left:5%;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tab-sched-2{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 220%;
    background-color: #f7f7f7;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;


}
#tab-sched-2 td{
    background-color: #FFFFFF;
    border-bottom: solid #d1d1d1 1px;
}


#tab-sched-2 td, th{
    /*border-bottom: solid black 1px;*/
    /*border-right: solid black 1px;*/
    text-align: center;
}
#tab-sched-2 th{
    background-color: #ececec;
}
